<h1>Tasks</h1>


<% @todos.each_slice(3) do |todos| %>
 <div class="card-deck">
   <% todos.each do |todo| %>
   <div class="card">
     <img src="<%= todo.task.photo %>" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title"><%= todo.task.title %></h5>
       <% if %>
       <p><%= link_to "Listo", root_path(todo), class: 'btn btn-success btn-outline' %></p>

        <%= link_to 'Show', task_path, class: 'btn btn-sm btn-primary' %> 
     </div>
     <div class="card-footer">
       <small class="text-muted"><%= time_ago_in_words todo.created_at %></small>
     </div>
   </div>
   <% end %>
   </div>
<br>
<% end %>
